{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <div style="padding: 10px;"></div>
        <!-- if this is not a user profile request then show post form -->
        {% if user.is_authenticated and not user_profile and form %}
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                {{form.post_content}}
                <div style="padding: 5px;"></div>
                <div style="text-align: center;"><button class="btn btn-primary" type="submit">Post</button></div>
            </form>
        {% endif %}
        
        <!-- if this is a user profile request, then show user profile details -->
        {% if user.is_authenticated and user_profile %}
            <div id="user_profile">{{ user_profile.username }}</div>
            <div>Followers: <span id="followers_count">{{ followers.count }}</span></div>
            <div>Following: {{ user_profile.following.all.count }}</div>
            {% if user.username != user_profile.username %}
                <button class="btn btn-primary" id="follow_unfollow_btn">NA</button>
            {% endif %}
        {% endif %}

        <hr>

        {% for post in posts %}
            <div class="container">
                <div class="row">
                    <div class="col allPostUsername"><a href="{% url 'user' post.user.username %}">{{ post.user.username }}</a></div>
                    <div class="col allPostTimestamp">{{ post.created_timestamp }}</div>
                </div>
                <div class="row" id="content_row{{post.id}}">
                    <div class="col" id="post{{post.id}}">{{ post.post_content }}</div>
                </div>
                <div class="row">
                    <div class="col">{{ post.likes.all.count}} likes</div>

                    <div class="col" id="like_div" data-postid="{{post.id}}">
                        <img src="{% static 'network/heart.svg' %}" id="heart" class="pointer" style="display: {% if user in post.likes.all %} none {% else %} block {% endif %};">
                        <img src="{% static 'network/heart-fill.svg' %}" id="heart-fill" class="pointer" style="display: {% if user in post.likes.all %} block {% else %} none {% endif %};">
                    </div>
                
                
                    <div class="col" id="edit_div{{post.id}}">
                        {% if post.user == user %}
                            <a href="#" onclick="return false;" id="edit_post_link" data-postid="{{post.id}}">Edit</a>
                        {% endif %}
                    </div>
                
                </div>
                
            </div>
            <hr>
        {% endfor %}

        <!-- pagination -->
        {% if p.pg_prev or p.pg_next %}
            <nav aria-label="page navigation">
                <ul class="pagination">
                    <li class="page-item {% if not p.pg_prev %} disabled {% endif %}"><a class="page-link" href="?pg={{ p.pg_prev }}">Prev</a></li>
                    <li class="page-item disabled"><a class="page-link">{{ p.pg_index }}</a></li>
                    <li class="page-item {% if not p.pg_next %} disabled {% endif %}"><a class="page-link" href="?pg={{ p.pg_next }}">Next</a></li>             
                </ul>
            </nav>
        {% endif %}
    </div>
    
{% endblock %}