.allPostUsername {
    font-weight: bold;
    font-size: 1.1em;
}

.allPostTimestamp {
    color: grey;
    font-size: smaller;
}

#logged_in_user {
    font-weight: bold;
}

.test {
    padding-left: 1em;
}